@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Pistolômetro</h1>
    <div class="img-fluid">
        <img src="~/img/pistola.jpg" />
    </div>
</div>
